---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import contact from "../data/contact.js";
import { projects } from "../data/projects.js";
---

<Layout>
  <p class="font-sans text-subtext text-base pt-12">
    Open for work / Melbourne, VIC
  </p>
  <h1 class="font-sans text-text text-2xl max-w-148 pt-4 pb-4">
    Hey, I'm Angela! I'm a software developer and designer, passionate about
    building thoughtful and human-centred experiences on the web.
  </h1>
  {
    contact.map((c) => (
      <p class="font-sans text-text text-base">
        {c.name}:
        <a
          href={c.link}
          target="_blank"
          class="cursor-pointer hover:text-subtext"
        >
          {c.display}
        </a>
      </p>
    ))
  }
  <img
    src="/src/assets/cat-ascii-light.png"
    class="absolute lg:top-60 sm:right-50 right-20 h-30"
  />
  <p class="font-sans text-text text-base sm:pt-32 pt-48 pb-4">
    Some of my projects below :) Click to learn more.
  </p>
  

  <!-- Projects section -->
  <div class="grid md:grid-cols-2 gap-6">
    {
      projects.map((project) => (
        <div id={project.cardId}>
          <Card 
            links={project.links},
            image={project.image},
            title={project.title},
            subtitle={project.subtitle},
            description={project.description},
            tags={project.tags}
          />
        </div>
      ))
    }
  </div>
</Layout>

<script>
  const handleClick = (destination: string) => {
    window.location.href = destination;
  };

  document
    .getElementById("vocab-forest-card")
    ?.addEventListener("click", (e) => {
      handleClick("/vocab-forest");
    });

  document.getElementById("data-vis-card")?.addEventListener("click", (e) => {
    handleClick("/data-vis");
  });
</script>
