---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import contact from "../data/contact.js";

import { vocabForest, dataVis } from "../data/projects.js";
import asciiLight from "../assets/cat-ascii-light.webp";
import asciiDark from "../assets/cat-ascii-dark.webp";

import vocabForestCardImg from "../assets/vocab-forest/vocab-forest-homepage.webp";
import dataVisCardImg from "../assets/data-vis/data-vis-card-image.webp";
---

<Layout>
  <div class="flex sm:flex-row flex-col sm:justify-between items-end">
    <div>
      <p class="font-sans text-subtext text-base pt-12">
        Open for work / Melbourne, Australia
      </p>
      <h1 class="font-sans text-text text-2xl max-w-148 pt-4 pb-12">
        Hey, I'm Angela! I'm a software developer and designer, passionate about
        building thoughtful and human-centred experiences on the web.
      </h1>
      {
        contact.map((c) => (
          <p class="font-sans text-text text-base">
            {c.name}:
            <a
              href={c.link}
              target="_blank"
              class="cursor-pointer hover:text-subtext"
            >
              {c.display}
            </a>
          </p>
        ))
      }
    </div>
    <Image
      src={asciiLight}
      alt="ASCII art of a cat"
      class="dark:hidden w-fit h-30 ml-20 mr-6 lg:mr:30"
      loading="eager"
    />
    <Image
      src={asciiDark}
      alt="ASCII art of a cat"
      class="hidden dark:block w-fit h-30 ml-20 mr-6 lg:mr:30"
      loading="eager"
    />
  </div>

  <p class="font-sans text-text text-base sm:pt-28 pt-20 pb-4">
    Some of my projects below :) Click to learn more.
  </p>

  <!-- Projects section -->
  <div class="grid md:grid-cols-2 gap-6">
    <div id={vocabForest.cardId}>
      <Card
        links={vocabForest.links}
        ,
        linkId={vocabForest.linkId}
        ,
        imageSource={vocabForestCardImg}
        ,
        imageAlt={vocabForest.imageAlt}
        ,
        title={vocabForest.title}
        ,
        subtitle={vocabForest.subtitle}
        ,
        description={vocabForest.description}
        ,
        tags={vocabForest.tags}
      />
    </div>
    <div id={dataVis.cardId}>
      <Card
        links={dataVis.links}
        ,
        linkId={dataVis.linkId}
        ,
        imageSource={dataVisCardImg}
        ,
        imageAlt={dataVis.imageAlt}
        ,
        title={dataVis.title}
        ,
        subtitle={dataVis.subtitle}
        ,
        description={dataVis.description}
        ,
        tags={dataVis.tags}
      />
    </div>
    <!-- {
      projects.map((project) => (
        <div id={project.cardId}>
          <Card 
            links={project.links},
            linkId={project.linkId},
            image={project.image},
            title={project.title},
            subtitle={project.subtitle},
            description={project.description},
            tags={project.tags}
          />
        </div>
      ))
    } -->
  </div>
</Layout>

<script>
  const handleClick = (destination: string) => {
    window.location.href = destination;
  };

  document
    .getElementById("vocab-forest-card")
    ?.addEventListener("click", () => {
      handleClick("/portfolio/vocab-forest");
    });

  document.getElementById("data-vis-card")?.addEventListener("click", () => {
    handleClick("/portfolio/data-vis");
  });

  document
    .getElementById("vocabForestLinks")
    ?.addEventListener("click", (e) => {
      e.stopPropagation();
    });

  document.getElementById("dataVisLinks")?.addEventListener("click", (e) => {
    e.stopPropagation();
  });
</script>
