---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { email, github } from "../data/contact.js";

import { vocabForest, dataVis } from "../data/projects.js";

import vocabForestCardImg from "../assets/vocab-forest/vocab-forest-homepage.webp";
import dataVisCardImg from "../assets/data-vis/data-vis-card-image.webp";
---

<Layout>
      <p class="font-sans text-subtext text-base pt-20">
        Open for work / Melbourne, Australia
      </p>
      <h1 class="font-serif text-text sm:text-[26px]/[32px] text-[24px]/[28px] max-w-[654px] pt-6 pb-12">
        Hey, I'm Angela! I'm a <span class="font-serif-italic">software developer</span>
        and <span class="font-serif-italic">designer</span> who's passionate about
        building thoughtful and human-centred experiences on the web.
      </h1>
      <div class="flex flex-col gap-1 pb-0">
        <p class="font-sans font-medium text-text text-base">
          Email:
          <a href={email.link} target="_blank" class="pl-1 font-normal cursor-pointer hover:text-subtext">
            {email.display}
          </a>
        </p>
        <p class="font-sans font-medium text-text text-base">
          GitHub: 
          <a href={github.link} target="_blank" class="pl-1 font-normal cursor-pointer hover:text-subtext">
            {github.display}
          </a>
        </p>
      </div>

    <h2 class="font-serif text-text sm:text-2xl text-xl sm:pt-28 pt-20 sm:pb-2 pb-1">Selected Projects</h2>
    <p class="font-sans text-text text-base pb-6">
      What I've been working on. Click to learn more.
    </p>

  <!-- Projects section -->
  <div class="grid md:grid-cols-2 gap-6">
    <button id={vocabForest.cardId} class="text-left" aria-label="Vocab Forest: Web App Card">
      <Card
        links={vocabForest.links},
        linkId={vocabForest.linkId},
        imageSource={vocabForestCardImg},
        imageAlt={vocabForest.imageAlt},
        title={vocabForest.title},
        subtitle={vocabForest.subtitle},
        description={vocabForest.description},
        tags={vocabForest.tags}
      />
    </button>
    <button id={dataVis.cardId} class="text-left" aria-label="Data Visualisations Card">
      <Card
        links={dataVis.links},
        linkId={dataVis.linkId},
        imageSource={dataVisCardImg},
        imageAlt={dataVis.imageAlt},
        title={dataVis.title},
        subtitle={dataVis.subtitle},
        description={dataVis.description},
        tags={dataVis.tags}
      />
    </button>
  </div>
</Layout>

<script>
  const handleClick = (destination: string) => {
    window.location.href = destination;
  };

  document
    .getElementById("vocab-forest-card")
    ?.addEventListener("click", () => {
      handleClick("/portfolio/vocab-forest");
    });

  document.getElementById("data-vis-card")?.addEventListener("click", () => {
    handleClick("/portfolio/data-vis");
  });

  document
    .getElementById("vocabForestLinks")
    ?.addEventListener("click", (e) => {
      e.stopPropagation();
    });

  document.getElementById("dataVisLinks")?.addEventListener("click", (e) => {
    e.stopPropagation();
  });
</script>
